[submodule "organization_themes/ircam-www-theme"]
    path = organization_themes/ircam-www-theme
    url = git@github.com:Ircam-Web/ircam-www-theme.git
    branch-master = master
    branch-dev = dev
    ignore = dirty
[submodule "organization_themes/vertigo-themes"]
    path = organization_themes/vertigo-themes
    url = git@github.com:Ircam-Web/vertigo-themes.git
    branch-master = vertigo-master
    branch-dev = vertigo-dev
    ignore = dirty
[submodule "organization_themes/ircam-forum-theme"]
    path = organization_themes/ircam-forum-theme
    url = git@github.com:Ircam-Web/ircam-forum-theme.git
    branch-master = master
    branch-dev = dev
    ignore = dirty
[submodule "organization_themes/manifeste-theme"]
    path = organization_themes/manifeste-theme
    url = git@github.com:Ircam-Web/manifeste-theme.git
    branch-master = master
    branch-dev = dev
    ignore = dirty
